<section class="py-16">
    <div class="container-private mx-auto text-center">
        <img class="w-1/3 mx-auto" src="/img/404-error.png" alt="empty-cart">
        <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go Home</a>
    </div>
</section>