//If we use underscore then it is a naming convention that this is not our original fle and this is included in any other file

//Colors

$primary: #FE5F1E;  //orange
$primary-hover: #B23301; //dark orange
$secondary: #F8F8F8; //light grey
$pure: #fff; //white
$dark: #232323; //black
$gray: #ccc; //grey

//Transitions

$smooth: 0.3s ease-in-out;